.cube3x-social-wrapper{
	min-height: 100px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	margin-bottom: 20px;
}
.cube3x-social-wrapper .total-share-count-wrapper .total_shares{
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:85px;
	line-height: 85px;
	text-align: center;
	color: #7FC04C;
}
.cube3x-social-wrapper .total-share-count-wrapper .shares_text{
	text-align: center;
	text-transform:uppercase;
	color: #888888;
}
.cube3x-social-wrapper .social-wrapper{
	float: left;
	width: 100%;
}
.cube3x-social-wrapper .social-wrapper .social-row{
	float: left;
	width: 100%;
	margin-top: 20px;
}
.cube3x-social-wrapper .social-wrapper .social-row1{
	height: 20px;
	line-height: 20px;
}
.cube3x-social-wrapper .social-wrapper .social-site{
	float: left;
	color: #666;
	text-transform:uppercase;
}
.cube3x-social-wrapper .social-wrapper .social-count{
	float: right;
	color: #666;
}
.cube3x-social-wrapper .social-wrapper .share-box{
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,.2);
	display: none;
}
.cube3x-social-wrapper .social-row2{
	position: relative;
	float: left;
	width: 100%;
}
.cube3x-social-wrapper .social-row2 .fill, .cube3x-social-wrapper .social-row2 .nofill{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 3px;
}
.cube3x-social-wrapper .social-row2 .fill{
	z-index: 100;
	width: 0%;
}
.cube3x-social-wrapper .social-row2 .nofill{
	background: #eee;
}
.cube3x-social-wrapper .twitter-wrapper .fill{
	background: #18B8EE;
}
.cube3x-social-wrapper .facebook-wrapper .fill{
	background: #3B5998;
}
.cube3x-social-wrapper .gplus-wrapper .fill{
	background: #DD4B39;
}
.cube3x-social-wrapper .linkedin-wrapper .fill{
	background: #388DB4;
}
.cube3x-social-wrapper .stumpleupon-wrapper .fill{
	background: #D20000;
}